body {
    background-color: darkslateblue;
}

#panels {
    display: flex;
    flex-direction: column;
    
}

.panel {
    background-color: cornsilk;
    border-radius: 7%;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

#panel_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

#panel_button {
    margin-bottom: 10px;
}